#HistoryBox .HistoryBoxItem {
    display: inline-block;
    margin: 5px;
    width: 200px;
}

.HistoryBoxItem .HistoryEncodingBox {
    width: 100%;
}

.HistoryBoxItem .HistoryImg {
    width: 100%;
}