body {
    padding: 50px;
    font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.Center {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 70%;
}

.Huge {
    font-size: 5em;
}

.Help {
    text-align: justify;
    text-justify: inter-word;
}