.DS_Store
.vscode
summary_logs
test
tmp
MNIST_data
npm-debug.log
text8.zip
save/
tensorflow/rnn/opus/
audio/midi/
audio/wav/
audio/csv/
audio/output/
audio/samples/
audio/save_midi/
audio/save_abc/
audio/data/abc/master_processed.abc
*.pyc