.DS_Store
.vscode
__pycache__
*.pyc

npm-debug.log

summary_logs
test
tmp
MNIST_data
text8.zip
save/
tensorflow/rnn/opus/
audio/midi/
audio/wav/
audio/csv/
audio/samples/
audio/save_midi/
audio/save_abc/
audio/data/abc/master*.abc
audio/data/abc/master_processed.abc
# audio/data/abc/*.mid
audio/output/output.abc
audio/output/*/*.wav
# audio/output/*/*.flp
# audio/output/*/*.mp3
*.mscz,
audio/output/History/
audio/output/*/History/
gan/dcgansave/
gan/dcganimgs01/
gan/out/